* {
  font-family: "Open Sans";
}

#wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 52vh;
}

#header {
  font-size: 3em;
  color: #444;
  display-type: block;
  background-color: #fff;
  text-align: center;
}

#bodytext {
  font-size: 1.3em;
  color: #444;
  text-align: justify;
}

#introheader {
  padding-top: 35vh;
  font-size: 1.8em;
  color: #000;
  font-family: Helvetica;
  letter-spacing: 5px;

}

#background-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

body {
  margin: 0;
}

/* The animation code */
@keyframes fadecolor {
    from {color: white;}
    to {color: #444;}
}

/* The element to apply the animation to */
#header {
    animation-name: fadecolor;
    animation-duration: 4s;
}
