* {
  font-family: "Open Sans";
}

#wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 52vh;
}

#header {
  font-size: 3em;
  color: #444;
  display-type: block;
  background-color: #fff;
  text-align: center;
}

#bodytext {
  font-size: 1.3em;
  color: #444;
  text-align: justify;
}

#introheader {
  padding-top: 18vh;
  font-size: 1.8em;
  color: #000;
  font-family: Helvetica;
  letter-spacing: 5px;

}

#background-image {
  z-index: -10;
  width: 95%;
  height: 95%;
  position: absolute;
  object-fit: cover;
  margin: 2.5%, 2.5%, 2.5%, 2.5%;
}

body {
  margin: 0;
}
