* {
  font-family: "Open Sans";
}

#wrapper {
  width: 75%;
  margin: 0 auto;
  padding-top: 70vh;
}

#header {
  font-size: 2.75em;
  color: white;
}

#bodytext {
  font-size: 1.3em;
  color: #444;
}

#introheader {
  padding-top: 25vh;
  font-size: 1.8em;
  color: #000;
  font-family: Helvetica;
  letter-spacing: 3px;

}

#background-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  margin: 0;
}
